.hero-main {
  background: url("../../../image/heroo.jpg") no-repeat center center/cover;
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: 25px;
  padding: 100px;
  /* min-width: 700px; */
  /* max-width: 1200px; */
  margin: 0 auto;
}
.hero-title {
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-weight: 700;
}
.hero-text {
  max-width: 500px;
}
.hero-title em {
  font-style: normal;
  color: var(--color-primary);
  background-color: var(--color-light);
  border-radius: 15px;

  padding: 0.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hero-subtitle {
  font-size: 20px;
  background-color: var(--color-light);
  color: var(--color-darkest);
  font-weight: 300;
  margin-bottom: 25px;
  width: 60%;
  padding: 0 0 0 1rem;
}
